body {
  padding-top: 40px;
  padding-bottom: 40px;
}
.form-signin {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 330px;
  padding: 15px;
  justify-content: center;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.link-primary:hover {
  cursor: pointer;
}

.navbar {
  background-color:skyblue;
}